---
---
<div id="footer">
  <a href="https://www.facebook.com/groups/400749409621435/">Facebook</a> /
  <a href="https://www.instagram.com/spacenoodlemcr/">Instagram</a>
</div>

<style>
  #footer {
    display: flex;
    gap: 1rem;
    padding: 4rem 1rem;
    color: #2E657B;
  }
  a {
    font-family: 'Silkscreen', cursive;
  }
</style>