---
import { Content } from '../content/next-event.md';
import Prose from './Prose.astro';
---
<div id="next-event-container">
  <div id="inner">
  <Prose>
    <Content />
  </Prose>
</div>
</div>

<style>
  #next-event-container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  #inner {
    padding: 1rem;
    padding-bottom: 4rem;
    margin: 0 auto;
  }
  
  h1 {
      font-family: 'Silkscreen', cursive;
  }

  h2 {
    font-family: 'Silkscreen', cursive;
  }
</style>