---
---
<div
class="prose prose-invert prose-lg">
  <slot />
</div>

<style>
  .prose :global(h1),
  .prose :global(h2),
  .prose :global(h3),
  .prose :global(h4),
  .prose :global(h5),
  .prose :global(h6) {
    font-family: 'Silkscreen', cursive;
  }
</style>

